@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap');

body{
    width: 100%;
    overflow-x: hidden
}

nav{
    background: rgb(234,247,250);
    /* margin-top: 19px; */
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
    color: white;
}

nav div h1{
    font-size: calc(19px);
    font-family: 'Birthstone Bounce', cursive;
}

ul{
    display: flex;
    width: 60%;
    justify-content: space-between;
    transform: translateY(0%);
    margin: 0px auto
}

ul li{
    font-size: 20px;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    
}

.bar{
    display: none;
}

.cancel{
    display: none;
}

.box{
    position: absolute;
    width: 300px; height: 190px;
    top: -90px;
    left: -110px;
    transform: rotate(-45deg);
    background: #E1B07E;
    z-index: -1;
}


@media screen and (max-width: 700px) {
    body{
        width: 100%;
        overflow-x: hidden
    }


    .Resume{
        margin-bottom: 40px;
    }

    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 30px;
        margin-top: 0px;
        /* border: 4px solid red; */
    }



        .overlay{
            width: 100%;
            height: 100vh;
            background: black;
            position: fixed;
            opacity: .3;
            display: none
        }

    ul{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        width: 300px; 
        color: white;
        transform: translateX(110%);
        position: absolute;
        /* border-radius: 0 0 0 5px; */
        right: 0;
        top: 0;
        transition: .5s;
        z-index: 1;
        padding: 19px;

        background: hsla(40, 94%, 74%, 1);
        background: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBD07C", endColorstr="#F7F779", GradientType=1 );
    }
    
    ul li{
        font-size: 25px;
        margin-top: 15px;
        padding: 10px;
        list-style-type: none;
        font-family: 'Ubuntu', sans-serif;
        color: rgb(42, 41, 41);
    }

    .cancel{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: red
    }

    nav div h1{
        font-size: calc(19px);
        font-family: 'Birthstone Bounce', cursive;
    }

    .bar{
        display: block;
        font-size:40px;
    }
}
