.project{
    position: relative;
   background-color: #330033;
   /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
   background: url('../images/background.jpg'); 
   background-attachment: fixed;
   background-size: cover;
   background-repeat:no-repeat;
   width: 100%;
   height: auto;
   padding: 30px;
}

.project .header h1 {
    position: absolute;
     left: 50%;
     transform: translate(-50%, 0);
     font-size: 110px;
     color: rgba(0, 0, 0, 0.061);
     letter-spacing: 10px;
}

.project .header h3 {
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.596);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 3em;
    color: white;
    letter-spacing: 7px;
}

.project .header{
    overflow: hidden;
    position: relative;
   
    width:100%;
    height: 190px
}

.project-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.more{
    width: 300px;
    padding: 10px;
    margin: 30px auto;
    background: rgb(63,84,105);
    color: white;
    text-align: center;
}

/* Project card */
.project-card{
    width: 300px;
    height: auto;
    background: white;
    margin: 10px;
    box-shadow: 1px 1px 13px black;
}

.card-content{
    padding: 10px;
}

.card-content .tools{
    color: steelblue
}

.description{
    height: 100px;
    width: 100%;
    background: rgb(99,47,175);
    color: rgb(221, 206, 206);
    padding: 5px;
    overflow: hidden
}

.card-image{
    width: 100%;
    height: 190px;
    background: black;
}

.cta{
    padding: 10px;
    display:flex;
    justify-content: space-between;
}

.cta button{
    width: 45%;
    padding: 9px;
    background-color: rgb(243,220,170);
    color: black;
    border: none;
}